*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Helvetica, sans-serif;
}

header
{
    background-color:#BDEAE8;
    border: none;
    border-radius: 15px;
    height: 250px;
    width: 1275px;
    margin: 20px;
    position: fixed;
    z-index: 1000;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.5);
}

header .Logo-EnchantedGhibli
{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 200px;
    padding: 20px 20px;
    position: absolute;
}

header nav
{
    margin-left: -300px;
}

header nav ul
{
    font-size: 20px;
    list-style: none;
    text-align: center;
    margin-top: 6px;
    margin-left:10px ;
    padding-top: 100px;
}

header ul li
{
    margin-right: 30px;
}

header ul li a
{
    text-decoration: none;
    color: #000000;
    padding-left: 4px;
}

header nav ul li a
{
    display: block;
    transition: 0.4s ease;
}

header nav ul li a:hover
{
    font-size: 21px;
    color: #0799c4;
    transform: scale(1.2);
}

.barra-busqueda
{
    margin-top: -40px;
    margin-left:85%;
}

.barra-busqueda .buscar
{
    border: 1px solid;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    text-align: justify;
    padding: 10px;
}

.barra-busqueda .button
{
    border: 1px solid;
    border-radius: 15px;
    height: 30px;
    width: 65px;
    background-color: #ffff;
}

nav li
{
    display: inline-block;
    text-align: center;
    width: 100px;
}

main
{
    margin-top: 400px;
    margin-left: 20px;
    position: absolute;
}

.fondo
{
    height: 500px;
    width: 1000px;
    margin-left: 150px;
    margin-right: 100px;
    z-index: 0;
    border: none;
    border-radius: 15px;
}

.transparente
{
    height: 700px;
    width: 700px;
    z-index: 1;
    margin-top: -600px;
    margin-left: 650px;
}

.text-welcome p
{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 20px;
    z-index: 2;
    position: absolute;
    color: #222222;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.64);
}

.text-welcome h1
{
    font-size: 100px;
    margin-top: 150px;
    margin-left: 20px;
    z-index: 2;
    position: absolute;
    color: #222222;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.64);
    text-align: justify;

}

section
{
    margin-top: 1150px;
    margin-left: 20px;
    position: absolute;
    background-color: #CCEEDD;
    background-size: 500px;
    border: none;
    border-radius: 15px;
    width: 600px;
    height: 600px;
    text-align: center;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.infopage-website h3
{
    font-size: 25px;
    margin-top: 50px;
}
.infopage-website p
{
    font-size: 20px;
    margin-top: 5%;
    line-height: 2.5;
}

.StudioGhibliGreen-jpg
{
    position: absolute left;
    width: 600px;
    height: 300px;
    margin-top: -135px;
    margin-left: 650px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.PersonajesSG-jpg
{
    position: absolute;
    width: 270px;
    height: 280px;
    margin-top: -610px;
    margin-left: 350px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.PersonajesSG2-jpg
{
    position: absolute;
    width: 300px;
    height: 280px;
    margin-top: -610px;
    margin-left: 650px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.4);
}

footer
{
    margin-top: 2000px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    background-color: #BDEAE8;
    border: 2px solid #0799c4;
    border-radius: 15px;
    height: 400px;
    width: 1275px;
}

.ft
{
    display: flex;
    justify-content: space-between;
}

footer h3
{
    font-size: 30px;
    color: #222222;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.explorar
{
    margin-left: 10%;
}

.title-explorar
{
    display: inline;
}

.explorar li
{
    list-style: none;
    margin-top: 5%;
    text-align: center;
}

.explorar li a
{
    text-decoration: none;
    color: black;
}

.explorar li a
{
    display: block;
    transition: 0.4s ease;
}

.explorar li a:hover
{
    font-size: 21px;
    color: #0799c4;
    transform: scale(1.2);
}


.politicas
{
    margin-right: 10%;
}

.politicas li
{
    list-style: none;
    margin-top: 5%;
    text-align: center;
}

.ft-redessociales
{
    background-color: #0799c4;
    margin-top: 2%;
    border-radius:0 0 15px 15px;
    height: 150px;
    align-items: center;
    align-content: center;
}

.ft-redessociales h3
{
    color: #ffff;
    margin-top: 2%;
}

.ft-redessociales-txt li
{
    display: inline-block;
    margin-left: 270px;
}

.ft-redessociales-txt li a
{
    text-decoration: none;
    color: #ffff;
}

.imgs-redessociales li
{
    list-style: none;
    display: inline;
    display: inline-block;
    margin-left: 180px ;
}

.imgs-redessociales img
{
    width: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 100px;
}

.imgs-redessociales img
{
    display: inline-block;
    transition: all 0.4s ease;
}

.imgs-redessociales img:hover
{
    width: 55px;
    transform: scale(1.2);
}

.img-png-1, .img-png-2, .img-png-3, .img-png-4
{
    width: 100px;
    height: 100px;
}

.txt-imgs-decoration .img-png-1
{
    position: absolute;
    margin-top: -400px;
    margin-left: 400px;
}

.txt-imgs-decoration .img-png-2
{
    position: absolute;
    margin-top: -400px;
    margin-left: 780px;
}

.txt-imgs-decoration .img-png-3
{
    position: absolute;
    margin-top: -110px;
    margin-left: 1130px;
}

.txt-imgs-decoration .img-png-4
{
    position: absolute;
    margin-top: -110px;
    margin-left: 30px;
}