body
    {
        background-color: rgb(143, 197, 248);
    }
 
h1
    {
        color:rgb(25, 190, 146); 
        background-color: rgb(127, 255, 212); 
        border: 3px solid; border-radius:15px ; 
        font-family:cursive; font-size: 50px; 
        text-align: center;
    }

 p
    {
     border: 5px double;
     border-radius: 10px; 
     background-color: rgb(194, 136, 249); 
     color:rgb(0, 0, 0);
     text-transform: capitalize; 
    }
h2
    {
    font-size: 30px; 
    text-transform: uppercase;
    }        